.Modal.Delete_Confirmation_Modal {
    width: 40%;
    z-index: 1000;
}

.Modal.Delete_Confirmation_Modal .confirm_prompt {
     font-size: 1.2rem; 
    margin: 1rem 0.2rem;
    color: rgb(73, 73, 73);
}

.Modal.Delete_Confirmation_Modal .login_cardForm .login_cardButton.Delete_Confirmation {
    font-weight: 400;
    font-size: 0.9rem;
    margin:0 1rem;
    margin-top: 1rem;
    background-color: white;
    color: #0AAA47;
    border: 1px solid rgba(175, 175, 175, 0.185);
    width: fit-content;
    padding: 0.7rem 1rem;
}

.Modal.Delete_Confirmation_Modal .login_cardForm .login_cardButton.Delete_Confirmation:hover {
    box-shadow: 0px 1px 1px 0px rgba(95, 95, 95, 0.082), 0px 2px 5px 1px rgba(82, 82, 82, 0.212);
    background-color: white;
}

.Modal.Delete_Confirmation_Modal .Delete_Confirmation_Buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}