.chatDropdownMnu  {
    display: flex;
    right: -2px;
    top: -4pxpx;
    position: absolute;
    color: #a7a7a7;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
}

div#long-menu
{
    top: 0px !important;
    right: 0px !important;
}
div#long-menu div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded
{
    top: 50px !important;
    left: 87.5% !important;
    
}



div#long-menu  div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded  li.MuiMenuItem-root.MuiMenuItem-gutters {
    padding-top: 0.9rem;
    color: gray;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div#long-menu  div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded
    .MuiMenuItem-root.MuiMenuItem-gutters:last-child {
    padding-bottom: 1rem;
}


@media (min-width: 1440px) {
    div#long-menu div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded
{
    top: 70px !important;
    left: 84% !important;
    
}

}